body{
    background-color: red;
}
@media only screen and (max-width:455px)
{
    body
    {
        background-color: blue;
    }
    .boxes{
        flex-direction: column;
    }
}
.boxes
{
    display: flex;

}
.box
{
    height: 100px;
    width:200px;
    border: 1px solid yellow;
    padding: 2px;
    margin: 5px;
}
@media only screen and (orientation:landscape)
{
    body
    {
        border: 2px solid  black;
    }
}